defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:
  output_subdir: null
  run:
    dir: .

main:
  input_dir: "C:/WorkingData/Documents/2_Coding/Python/pressure_curve_processing/test"
  output_dir_data: "C:/WorkingData/Documents/2_Coding/Python/pressure_curve_processing/test/processed"
  output_dir_ivus: "C:/WorkingData/Documents/2_Coding/Python/pressure_curve_processing/output"
  pressure: False
  ivus: True
  dataframe_columns:
    - patient_id
    - iFR_mean_rest
    - mid_systolic_ratio_mean_rest
    - pdpa_mean_rest
    - mean_systolic_pressure_rest
    - mean_diastolic_pressure_rest
    - iFR_mean_rest_low
    - mid_systolic_ratio_mean_rest_low
    - pdpa_mean_rest_low
    - mean_systolic_pressure_rest_low
    - mean_diastolic_pressure_rest_low
    - iFR_mean_rest_high
    - mid_systolic_ratio_mean_rest_high
    - pdpa_mean_rest_high
    - mean_systolic_pressure_rest_high
    - mean_diastolic_pressure_rest_high
    - iFR_mean_ado
    - mid_systolic_ratio_mean_ado
    - pdpa_mean_ado
    - mean_systolic_pressure_ado
    - mean_diastolic_pressure_ado
    - iFR_mean_ado_low
    - mid_systolic_ratio_mean_ado_low
    - pdpa_mean_ado_low
    - mean_systolic_pressure_ado_low
    - mean_diastolic_pressure_ado_low
    - iFR_mean_ado_high
    - mid_systolic_ratio_mean_ado_high
    - pdpa_mean_ado_high
    - mean_systolic_pressure_ado_high
    - mean_diastolic_pressure_ado_high
    - iFR_mean_dobu
    - mid_systolic_ratio_mean_dobu
    - pdpa_mean_dobu
    - mean_systolic_pressure_dobu
    - mean_diastolic_pressure_dobu
    - iFR_mean_dobu_low
    - mid_systolic_ratio_mean_dobu_low
    - pdpa_mean_dobu_low
    - mean_systolic_pressure_dobu_low
    - mean_diastolic_pressure_dobu_low
    - iFR_mean_dobu_high
    - mid_systolic_ratio_mean_dobu_high
    - pdpa_mean_dobu_high
    - mean_systolic_pressure_dobu_high
    - mean_diastolic_pressure_dobu_high
    - integral_aortic_rest
    - integral_distal_rest
    - integral_diff_rest
    - diastolic_integral_aortic_rest
    - diastolic_integral_distal_rest
    - diastolic_integral_diff_rest
    - systolic_integral_aortic_rest
    - systolic_integral_distal_rest
    - systolic_integral_diff_rest

ivus_main:
  input_dir: "C:/WorkingData/Documents/2_Coding/Python/pressure_curve_processing/test_files/"
  processing: True
  reshuffling: True